<div class="mt-6">
    <h3>Manage Items</h3>
    <table class="table table-hover table-bordered" *ngIf="items.length">
        <thead>
            <tr>
                <th></th>
                <th>Code</th>
                <th>Product Name</th>
                <th>Brand</th>
                <th>Price</th>
                <th>Record Date</th>
                <th>Approved</th>
                <th *ngIf="isAdmin | async"></th>
            </tr>
        </thead>
        <tbody class="accordion">
            <ng-container *ngFor="let item of items;let i = index">
                <tr>
                    <td (click)="onExpand($event)" class="text-center pointer" data-bs-toggle="collapse"
                        attr.data-bs-target="#id{{i}}" aria-expanded="true" attr.aria-controls="id{{i}}">
                        <span class="material-icons" style="width:100%">
                            add_circle_outline
                        </span>
                    </td>
                    <td>{{item.code}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.brand}}</td>
                    <td>{{item.sellingPrice | currency:'₹'}}</td>
                    <td>{{item.createdDate | date}}</td>
                    <td>{{item.isApproved}}</td>
                    <td *ngIf="isAdmin | async">
                        <button *ngIf="!item.isApproved" type="button" class="btn btn-light" tooltip="Approve Item"
                            placement="top" (click)="approve(item.id)">
                            <span class="material-icons">
                                thumb_up
                            </span>
                        </button>
                        <button *ngIf="item.isApproved" type="button" class="btn btn-light" tooltip="Disapprove Item"
                            placement="top" (click)="approve(item.id)">
                            <span class="material-icons">
                                thumb_down
                            </span>
                        </button>
                    </td>
                </tr>
                <tr id="id{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="id{{i}}">
                    <th colspan="2">Description</th>
                    <td [attr.colspan]="(isAdmin | async) ? 6 : 5">{{item.description}}</td>
                </tr>
                <tr id="id{{i}}" class="accordion-collapse collapse" attr.aria-labelledby="id{{i}}">
                    <td [attr.colspan]="(isAdmin | async) ? 8 : 7">
                        <div class="text-center row">
                            <ng-container *ngFor="let img of item.itemImages">
                                <div class="col-md-2">
                                    <p class="float-start">
                                        <a class="me-3 " href="{{imgPath}}{{img.path}}" target="_blank"
                                            tooltip="View in new tab" placement="top">
                                            <span class="material-icons">open_in_new</span>
                                        </a>
                                        <a href="javascript: void(0);" *ngIf="!img.isDeleted" tooltip="Delete image"
                                            placement="top">
                                            <span class="material-icons" (click)="deleteImage(img.path,item.id)">
                                                delete
                                            </span>
                                        </a>
                                        <a href="javascript: void(0);" *ngIf="img.isDeleted" tooltip="Restore image"
                                            placement="top">
                                            <span class="material-icons" (click)="deleteImage(img.path,item.id)">
                                                restore_from_trash
                                            </span>
                                        </a>
                                    </p>
                                    <img src="{{imgPath}}{{img.path}}" class="img-thumbnail">
                                </div>
                            </ng-container>
                        </div>
                    </td>
                </tr>
            </ng-container>
        </tbody>
    </table>
    <pagination [totalItems]="totalItems" [itemsPerPage]="15" (pageChanged)="pageChanged($event)"></pagination>
</div>